<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_781e8bcba4e545a9955a9c5e18ed09e0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_781e8bcba4e545a9955a9c5e18ed09e0" ></div>
        
</body>
<script>    
    
            var map_781e8bcba4e545a9955a9c5e18ed09e0 = L.map(
                "map_781e8bcba4e545a9955a9c5e18ed09e0",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8947fab597fc49f383b3844f5d833f57 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_781e8bcba4e545a9955a9c5e18ed09e0);
        
    
            var feature_group_f275b4da79b048c99d64d60817123af1 = L.featureGroup(
                {}
            ).addTo(map_781e8bcba4e545a9955a9c5e18ed09e0);
        
    
            var marker_403d847edf974591aff7dd8a80817c10 = L.marker(
                [48.7308806, 2.444754],
                {}
            ).addTo(feature_group_f275b4da79b048c99d64d60817123af1);
        
    
            var icon_06fbf6a9c9e743cf90821d75cf9ca556 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_403d847edf974591aff7dd8a80817c10.setIcon(icon_06fbf6a9c9e743cf90821d75cf9ca556);
        
    
        var popup_40694925620d458e8ef65377a698043e = L.popup({"maxWidth": "100%"});

        
            var html_67103205091d4528bf895eeb64180d9e = $(`<div id="html_67103205091d4528bf895eeb64180d9e" style="width: 100.0%; height: 100.0%;">дисонансна терція</div>`)[0];
            popup_40694925620d458e8ef65377a698043e.setContent(html_67103205091d4528bf895eeb64180d9e);
        

        marker_403d847edf974591aff7dd8a80817c10.bindPopup(popup_40694925620d458e8ef65377a698043e)
        ;

        
    
    
            var marker_61a188c2aa1f41a2b3dc575b68120978 = L.marker(
                [49.841952, 24.0315921],
                {}
            ).addTo(feature_group_f275b4da79b048c99d64d60817123af1);
        
    
            var icon_85df101bb7984d66a2ee27082dbd1858 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_61a188c2aa1f41a2b3dc575b68120978.setIcon(icon_85df101bb7984d66a2ee27082dbd1858);
        
    
        var popup_6381058bc72c4bd5af930e4f0764d467 = L.popup({"maxWidth": "100%"});

        
            var html_6449b27498df418695dc06aec735f4b3 = $(`<div id="html_6449b27498df418695dc06aec735f4b3" style="width: 100.0%; height: 100.0%;">Anna Yershova</div>`)[0];
            popup_6381058bc72c4bd5af930e4f0764d467.setContent(html_6449b27498df418695dc06aec735f4b3);
        

        marker_61a188c2aa1f41a2b3dc575b68120978.bindPopup(popup_6381058bc72c4bd5af930e4f0764d467)
        ;

        
    
    
            var marker_a9d65b3d96cc48fd9a9f095ea19cc684 = L.marker(
                [49.4196404, 26.9793793],
                {}
            ).addTo(feature_group_f275b4da79b048c99d64d60817123af1);
        
    
            var icon_01c711ba44be43a681f8b9b1590df723 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_a9d65b3d96cc48fd9a9f095ea19cc684.setIcon(icon_01c711ba44be43a681f8b9b1590df723);
        
    
        var popup_5b759b7835fb49989bfa5f76791d5274 = L.popup({"maxWidth": "100%"});

        
            var html_608faba97f7a420d81ae67e89dd66262 = $(`<div id="html_608faba97f7a420d81ae67e89dd66262" style="width: 100.0%; height: 100.0%;">Olha Liuba</div>`)[0];
            popup_5b759b7835fb49989bfa5f76791d5274.setContent(html_608faba97f7a420d81ae67e89dd66262);
        

        marker_a9d65b3d96cc48fd9a9f095ea19cc684.bindPopup(popup_5b759b7835fb49989bfa5f76791d5274)
        ;

        
    
    
            var marker_4bd01e895daf4bb89ee80946ed89108d = L.marker(
                [49.841952, 24.0315921],
                {}
            ).addTo(feature_group_f275b4da79b048c99d64d60817123af1);
        
    
            var icon_37ad26e962b14dbc92e3821af88ef3c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_4bd01e895daf4bb89ee80946ed89108d.setIcon(icon_37ad26e962b14dbc92e3821af88ef3c1);
        
    
        var popup_2298cadbbe284d07bfef1b8f4fc2f091 = L.popup({"maxWidth": "100%"});

        
            var html_c25e80032d39499aa117f729adbb224d = $(`<div id="html_c25e80032d39499aa117f729adbb224d" style="width: 100.0%; height: 100.0%;">DashaMinieieva</div>`)[0];
            popup_2298cadbbe284d07bfef1b8f4fc2f091.setContent(html_c25e80032d39499aa117f729adbb224d);
        

        marker_4bd01e895daf4bb89ee80946ed89108d.bindPopup(popup_2298cadbbe284d07bfef1b8f4fc2f091)
        ;

        
    
    
            var layer_control_111807034dd94e3a82f02bb27583438f = {
                base_layers : {
                    "openstreetmap" : tile_layer_8947fab597fc49f383b3844f5d833f57,
                },
                overlays :  {
                    "Friends" : feature_group_f275b4da79b048c99d64d60817123af1,
                },
            };
            L.control.layers(
                layer_control_111807034dd94e3a82f02bb27583438f.base_layers,
                layer_control_111807034dd94e3a82f02bb27583438f.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_781e8bcba4e545a9955a9c5e18ed09e0);
        
</script>