<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <title>Twitter Map</title>
    </head>
    <body style="background-color: rgb(105, 172, 226);">
        <div style="background-color: rgb(197, 223, 240); width: 50%;  padding: 50px; margin: 50px auto;">
            <a href="https://twitter.com"><img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
